@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-shell">
    <AppHeader />

    <div class="body-shell">
        <NavigationRail />

        <main id="workspace" class="workspace">
            @Body
        </main>
    </div>
</div>
